:root {
  --box-shadow-color: rgba(0, 0, 0, 1);
  --dark-color: #00162a;
  --light-color: #fafafa;
  --medium-dark-color: #333333;
  --medium-color: #989c97;
  --secondary-color: #ffcb05;
}

body,
.page-content,
#block-mgoblog-content .content,
.content,
.pager .pager__items,
.view-content,
.thread-wrapper,
#comments > .view-content,
div.ck > .ck-editor__main > .ck-editor__editable,
.view-primary-articles .views-row,
.view-secondary-articles .views-row,
.content-wrapper,
.block,
input.form-search,
tr,
tr:nth-child(2n),
tr td,
.comments-filter h1,
.comment__footer > .comment__user-data,
.chosen-container-single .chosen-single,
.ui-widget-content,
.chosen-container-multi .chosen-choices,
input,
.tabs ul.primary li.is-active a {
  background-color: var(--dark-color) !important;
  color: var(--light-color) !important;
}

.views-row > .views-field-comment-count,
.view-primary-articles .views-row .views-field-byline a,
.view-secondary-articles .views-row .views-field-byline a,
.sidebar .view .views-field-uid a,
.node__meta {
  color: var(--medium-color) !important;
}

.page-content {
  background-size: 0 !important;
}

#block-frontpagelogoheader > .content {
  background-color: transparent !important;
}

#block-frontpagelogoheader a,
.region-primary-menu .mobile-logo {
  color: transparent !important;
}

a,
.link {
  color: var(--light-color) !important;
}

.marker,
.views-field-comment-count.views-field-new-comments a,
a .marker,
mark {
  color: var(--secondary-color) !important;
}

.button,
.tabs ul.primary li a {
  background-color: var(--secondary-color) !important;
  color: var(--dark-color) !important;
}

tr td,
tr th {
  border-color: var(--medium-dark-color) !important;
}

table tr th {
  border-bottom-style: inherit !important;
}

#Thumbs_Up,
#Thumbs_Down {
  stroke: var(--secondary-color) !important;
}

.mgo-vote .voted .thumbs-down-svg,
.mgo-vote .voted .thumbs-up-svg {
  fill: var(--secondary-color) !important;
}

form.search-form .form-submit {
  border-radius: 4px !important;
  top: 3px !important;
  width: 36px !important;
}

.sidebar .block,
.content-wrapper,
.thread-wrapper,
.view-primary-articles .views-row,
.view-secondary-articles .views-row {
  box-shadow: 4px 5px 10px -5px var(--box-shadow-color) !important;
}

.child {
  border-color: var(--medium-color) !important;
}

.child:nth-child(2n) {
  border-color: var(--secondary-color) !important;
}

.tabs ul.primary li a {
  text-shadow: none !important;
}

.tabs ul.primary li.is-active a {
  border-bottom: none !important;
  font-weight: bold;
}
