body,
.page-content,
#block-mgoblog-content .content,
.content,
.pager .pager__items,
.view-content,
.thread-wrapper,
#comments > .view-content,
div.ck > .ck-editor__main > .ck-editor__editable,
.view-primary-articles .views-row,
.view-secondary-articles .views-row,
.content-wrapper,
.block,
input.form-search,
tr,
tr:nth-child(2n),
tr td,
.comments-filter h1,
.comment__footer > .comment__user-data {
  background-color: #00162a !important;
  color: #fafafa !important;
}

.views-row > .views-field-comment-count,
.view-primary-articles .views-row .views-field-byline a,
.view-secondary-articles .views-row .views-field-byline a,
.sidebar .view .views-field-uid a,
.node__meta {
  color: #bababa !important;
}

.page-content {
  background-size: 0 !important;
}

#block-frontpagelogoheader > .content {
  background-color: transparent !important;
}

#block-frontpagelogoheader a,
.region-primary-menu .mobile-logo {
  color: transparent !important;
}

a,
.link {
  color: #fafafa !important;
}

.marker,
.views-field-comment-count.views-field-new-comments a,
a .marker,
mark {
  color: #ffcb05 !important;
}

.button {
  background-color: #ffcb05 !important;
  color: #00162a !important;
}

tr td,
tr th {
  border-color: #333333 !important;
}

.chosen-container-single .chosen-single,
.ui-widget-content,
.chosen-container-multi .chosen-choices,
input {
  background-color: #00162a !important;
  color: #fafafa !important;
}

#Thumbs_Up,
#Thumbs_Down {
  stroke: #ffcb05 !important;
}

.mgo-vote .voted .thumbs-down-svg,
.mgo-vote .voted .thumbs-up-svg {
  fill: #ffcb05 !important;
}

form.search-form .form-submit {
  border-radius: 4px !important;
  top: 3px !important;
  width: 36px !important;
}
